* {
    margin: 0;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #ff0000;
    text-decoration: none;
}

h2 {
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 4%;
}

h5{
    display: none;
}

@media(max-width:700px) {
    h2 {
        font-size: 20px;
        padding-top: 10%;
    }

    .bounty img{
        width: 100%;
    }

}



@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* ------------------header------------------- */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 10, 0.6), rgba(4, 9, 10, 0.355)), url(assets/background.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
}

/* -----------------navigation---------------- */

nav {
    display: flex;
    padding: 0.7% 2.5%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 70px;
    padding-left: 0%;
}

nav img:hover {
    animation: shake 1.3s;
    animation-iteration-count: infinite;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}


.nav-links ul li a {
    color: #fff;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(255, 255, 255);
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::after {
    width: 100%;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.nav-links ul li::before {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(255, 255, 255);
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::before {
    width: 100%;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}


nav .fa {
    display: none;
}

nav .fa-solid {
    display: none;
}

.nav-links .tglink a {
    display: none;
}

/* ----------------TEXT------------------ */

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: right;
}



.text-box h1 {
    font-size: 62px;
    color: #fff;
    word-spacing: 30px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 17px;
    color: red;
}



/* MEDIA QUERY ON FULL HEAD AND NAV */

@media(max-width:700px) {

    /* ---------------TEXT BOX-------------- */

    .text-box {
        padding-left: 20%;
        padding-bottom: 20%;
    }

    .text-box h1 {
        padding-left: 60%;
        font-size: 30px;
        word-spacing: 0px;
    }

    .text-box p {
        padding-left: 50%;
        font-size: 12px;
    }

    .header a {
        font-size: 08px;
        font-weight: 600;
    }

    /* -----------------NAVIGATION------------------ */
    .nav-links ul li {
        display: block;
    }

    .nav-links ul li::after {
        display: none;
    }

    .nav-links ul li::before {
        display: none;
    }

    .nav-links .tglink a {
        display: block;
        font-size: 15px;
        margin-bottom: 10%;
        text-align: center;
    }

    .nav-links {
        position: fixed;
        background: #000000db;
        height: 100vh;
        width: 250px;
        top: 0;
        right: -300px;
        text-align: left;
        z-index: 2;
        transition-duration: 0.5s;
        overflow: scroll;
    }

    .nav-links::-webkit-scrollbar{
        display: none;
    }

    nav .fa {
        display: block;
        color: rgba(255, 255, 255, 0.823);
        margin: 15px;
        font-size: 22px;
        cursor: pointer;
    }

    nav .fa-solid {
        display: block;
        color: rgba(255, 0, 0, 0.823);
        margin: 15px;
        font-size: 18px;
        cursor: pointer;
        float: right;
    }

    .nav-links ul {
        text-align: center;
        padding-top: 30%;
        padding-bottom: 10%;
    }

    .nav-links .fa-solid {
        padding-top: 4%;
        font-size: 25px;
        padding-left: 10px;
    }

    nav {
        display: flex;
        padding: 2% 1%;
        justify-content: space-between;
        align-items: center;
    }

    nav img {
        width: 50px;
        margin-left: 35%;
        margin-top: 5%;
    }
}

/* ---------------BUTTONS----------- */

.btn {
    border: 2px solid #ffffff;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid white;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.btn-pink {
    border: 2px solid #ff6881;
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 09px;
    padding: 10px 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn-pink:hover {
    border: 2px solid #ff6881;
    background: #ff6881;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    animation: shake 1.3s;
    animation-iteration-count: infinite;
}

.btn-vlt {
    border: 2px solid #ff00ff;
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn-vlt:hover {
    border: 2px solid #ff00ff;
    background: #ff00ff;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    animation: shake 1.3s;
    animation-iteration-count: infinite;
}

.btn-prdt {
    border: 2px solid #d6d600;
    display: inline-block;
    text-decoration: none;
    color: #d6d600;
    font-size: 12px;
    padding: 10px 30px;
    background: white;
    position: relative;
    cursor: pointer;
    font-weight: 600;
}

.btn-prdt:hover {
    border: 2px solid #d6d600;
    background: #d6d600;
    color: white;
    transition: 0.3s;
    animation: shake 1.3s;
    animation-iteration-count: infinite;
}


@media(max-width:700px) {
    .btn-red {
        font-size: 10px;
    }

    .btn-prdt {
        font-size: 10px;
    }
}



/* ------------------------------------------------------------FEATURE-------------------------------------------------- */

.border {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 8px;
    transition: 0.5s;
    margin-bottom: 5%;
    background-color: rgba(255, 0, 255, 0.238);
}


.feature {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 3%;
}

body::-webkit-scrollbar {
    display: none;
}

.feature h6 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

.feature h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #ff00ff;
}

.feature h3:hover {
    animation: shake 1.3s;
    animation-iteration-count: infinite;
}

.feature h1 {
    font-size: 12px;
    font-weight: 600;
    color: #000000;
}

.feature p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.feature-col li {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding-left: 20px;
}

.feature-col img {
    width: 100%;
    border-radius: 10px;
}


.feature .row {
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
}

.feature-col {
    flex-basis: 25%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 12px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    border: 2px solid white;
}



.feature-col:hover {
    border: 2px solid #ff00ff;
    box-shadow: 0 0 20px 0px rgb(255, 255, 255);
}


@media(max-width: 700px) {

    .feature {
        padding-top: 7%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .feature h6 {
        text-align: center;
        font-weight: 600;
        font-size: 23px;
        color: red;
    }

    .feature .row {
        flex-direction: column;
        margin: 5%;
    }

    .feature-col li {
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: 300;
        line-height: 22px;
        padding: 0px;
    }

    .feature-col {
        margin-top: 8%;
        margin-bottom: 2%;
    }
}

























































/*-----------------FOOTER----------------------*/
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    background-color: #676767;
}

.footer h4 {
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 25px;
    color: white;
}

.footer .icons h4 {
    font-size: 20px;
    font-weight: 600;
}

.footer .rights {
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 500;
    font-size: 13px;
}

.footer .made {
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
}

.icons .fa-brands {
    color: #ff1100;
    margin: 0px 13px;
    cursor: pointer;
}

.icons .fa-solid {
    color: #ff1100;
    margin: 0px 13px;
    cursor: pointer;
}

.icons .fa-regular {
    color: #ff1100;
    margin: 0px 13px;
    cursor: pointer;
}


@media(max-width:700px) {

    /* ----FOOTER----- */

    .footer h4 {
        margin-bottom: 5px;
        margin-top: 20px;
        font-weight: 600;
        font-size: 18px;
    }

    .footer p {
        font-size: 10px;
        margin-left: 10%;
        margin-right: 10%;
        font-weight: 600;
    }

    .footer .rights {
        margin-bottom: 20px;
        margin-top: 25px;
        font-weight: 600;
        font-size: 10px;
    }

    .icons {
        font-size: 12px;
    }

    .footer .icons h4 {
        font-size: 15px;
        font-weight: 600;
    }
}



























































/* ------------------------------------------------------------------------------------ PRODUCTS NEW --------------------------------------------------------------- */

.products {
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 5, 0.4), rgba(4, 9, 5, 0.355)), url(assets/product.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
}


.products h1 {
    padding-top: 7.5%;
    font-size: 60px;
}

.products h1:hover {
    animation: shake 1.3s;
    animation-iteration-count: infinite;
}

.product-body {
    width: 100%;
    height: 200%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-body::-webkit-scrollbar {
    display: none;
}

.container {
    width: 90%;
    height: fit-content;
    background: rgb(240, 239, 243);
    border-radius: 15px;
    padding: 20px;
}

.container form {
    width: 100%;
    border: 3px solid #d6d600;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    transition: 0.4s;
}

.container .noresults {
    text-align: center;
    padding: 0%;
    opacity: 50%;
    font-size: 17px;
}

.container form:hover {
    box-shadow: 0 0 20px 0px #d6d600;

}

.container form input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 93%;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
}

.container form i {
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 10px;
}

.container::-webkit-scrollbar {
    display: none;
}

.product-list {
    padding: 20px 0;
    height: 100%;
}

.product {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 3px solid #d6d600;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    transition: 0.5s;
    text-align: center;
}

.product:hover {
    background: white;
    border: 3px solid #ffffff;
    box-shadow: 0 0 20px 0px #d6d600;
}

.product img {
    width: 20%;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 5%;
}

.product h1 {
    font-size: 12px;
    font-weight: 600;
    color: #000000;
}

.product .p-details {
    padding-left: 10%;
}

.product .p-details h2 {
    font-size: 35px;
    color: black;
    font-weight: 600;
    color: #d6d600;
}

.product .p-details h2:hover {
    animation: shake 1.3s;
    animation-iteration-count: infinite;
}

.product li {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    padding-left: 20px;
    text-align: center;
}

@media(max-width: 700px) {

    .products h1 {
        padding-top: 20%;
        padding-left: 20%;
        padding-right: 20%;
        font-size: 30px;
    }

    .container {
        width: 80%;
    }

    .product {
        display: block;
        padding-top: 5%;
        padding-bottom: 5%;
        border: 3px solid #d6d600;
        border-radius: 10px;
        margin: 0;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
    }

    .product img {
        width: 80%;
        object-fit: cover;
        border-radius: 10px;
        margin: 0%;
        margin-top: 5%;
    }

    .product .p-details {
        text-align: center;
        padding-top: 0%;
        padding-bottom: 5%;
        padding-right: 15%;
    }

    .product .p-details h2 {
        font-size: 20px;
    }

    .container form input {
        width: 78%;
    }

    .container .noresults {
        font-size: 13px;
    }
}




/* ------------------------------------------------------------ OFFERS -------------------------------------------------- */



.offers {
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 5, 0.4), rgba(4, 9, 5, 0.355)), url(assets/offers.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
}

.offers h1 {
    padding-top: 7%;
    font-size: 60px;
}

.update {
    font-size: 20px;
}

@media(max-width: 700px) {

    .offers h1 {
        padding-top: 25%;
        padding-left: 20%;
        padding-right: 20%;
        font-size: 30px;
    }

    .update {
        font-size: 15px;
    }

}


/* ------------------------------------------------------------ CONTACT -------------------------------------------------- */



.contact {
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 5, 0.4), rgba(4, 9, 5, 0.355)), url(assets/contact.jpg);
    background-position: left;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
}

.contact h1 {
    padding-top: 7%;
    font-size: 60px;
    text-align: right;
    margin-right: 20%;
}

.cont-txt {
    text-align: center;
    padding-top: 5%;
}

@media(max-width: 700px) {

    .contact h1 {
        padding-top: 25%;
        margin-right: 08%;
        font-size: 30px;
    }

    .cont-txt {
        text-align: center;
        padding-top: 5%;
        font-size: 10px;
    }
}